@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .font-headline {
    font-family: 'Manrope', sans-serif;
  }
}

@layer components {
  .glass-panel {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
  .gradient-text {
    background: linear-gradient(135deg, #5323e6, #6c47ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
